* {
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    box-sizing: border-box;
}

/* nav general */
.nav,
.contenedorNavegacionSucursales {
    position: fixed;
    width: 100%;
    background-color: #000000;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    z-index: 1001;
}

.contenedorNavegacionSucursales {
    position: static;
}

.imagenNav {
    width: 150px;
}

.contenedorNavegacionSucursales .contenedorBotonesNav,
.contenedorNavegacionSucursales .contenedorBotonesNav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
    padding: 0 20px;
    margin: 0 !important;
}

.contenedorBotonesNav ul {
    width: 100%;
}

.contenedorBotonesNav ul li {
    list-style: none;
    text-align: center;
}

.links {
    text-decoration: none;
    color: white;
    position: relative;
}

.navLink {
    border-radius: 8px;
    transition: .5s;
}

.contenedorBotonesNav ul li .links::before {
    content: "";
    height: 1px;
    width: 0;
    position: absolute;
    background-color: rgb(255, 255, 255);
    bottom: -5px;
    transition: .5s;
}

.contenedorBotonesNav ul li .links:hover:before {
    width: 100%;
}

/* contenedores de sucursales
 */
.tituloBienvenida {
    font-size: 40px;
}

.seleccionarSuc {
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 0 !important;
}

.containerSucursales {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contenedorCentrado {
    width: 60%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px 0px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.contenedorSucursal {
    background-color: white;
    width: 350px;
    height: 240px;
    display: flex;
    min-height: 200px;
    cursor: pointer;
    transition: .5s;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    z-index: 101;
}

.contenedorSucursal::before {
    content: "";
    background-color: rgba(250, 250, 250, 0);
    position: absolute;
    height: 250px;
    width: 100%;
    transition: .5s;
    bottom: 0px;
}

.contenedorSucursal:hover::before {
    background-color: rgba(240, 202, 192, 0.589);
}

.contenedorSucursal::after {
    content: var(--sucursal-nombre, "Sucursal");
    background-color: rgb(250, 250, 250);
    position: absolute;
    width: 100%;
    transition: .5s;
    bottom: 0px;
    color: black;
}

.imagenSucursales {
    width: 100%;
    object-fit: cover;
}

.contenedorInicioSucursal {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedorCentral {
    background-color: white;
    max-width: 1400px;
    width: 80%;
    display: grid;
    grid-template-areas:
        'titulo titulo '
        'carrusel carrusel '
        'noticias1 noticias2 ';

    grid-template-columns: 2fr 2fr;
    gap: 10px;
    padding: 0px 40px 40px 40px;
    border-radius: 8px;
}

.contenedorTitulo {
    grid-area: titulo;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedorCarrusel {
    grid-area: carrusel;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 80px;
    width: 550px;
    display: table;
    margin: 0px auto;
}

.noticias1 {
    grid-area: noticias1;
    display: flex;
    flex-direction: column;
    min-height: 220px;
    background-color: rgb(243, 0, 0);
}

.noticias2 {
    grid-area: noticias2;
    display: flex;
    flex-direction: column;
    min-height: 220px;
    background-color: rgb(255, 0, 0);
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.6);
    /* Fondo oscuro semi-transparente */
    color: white;
    /* Texto blanco */
    border-radius: 8px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo oscuro para los íconos de control */
}

.contenedorTotalServicios {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.fondoDesenfocado {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    z-index: -1;
}

.contenedorContenido {
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    padding: 40px 80px;
}

.contendorServiciosMenu {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-right: 80px;
}

.botonServicios {
    padding: 5px 25px;
    margin: 5px;
    border: 1px solid white;
    cursor: pointer;
    background-color: white;
    transition: box-shadow 0.3s ease;
    border-radius: 8px;
    transition: .5s;
}

.botonServicios:hover {
    transform: scale(1.1);
    background-color: #000000da;
    color: white;
}

.botonServicios.activeBtn {
    background-color: #000000;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contenedorInfoServicios {
    display: flex;
    background-color: white;
    width: 100%;
    height: 100%;
    max-width: 1600px;
}

.contenedorInfo {
    display: flex;
    width: 100%;
    justify-content: center;
}

.formularioFotos {
    display: grid;
    grid-template-areas:
        'tituloForm tituloForm'
        'izq der '
        'izq der '
        'envio envio ';
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 80px auto auto 80px;
    width: 80%;
    max-width: 1200px;
}

.contenedorTituloForm {
    grid-area: tituloForm;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedorIzqForm {
    grid-area: izq;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.form-group {
    position: relative;
    margin-bottom: 2em;
    width: 300px;
}

.form-group input {
    font-size: 16px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ddd;
    width: 100%;
}

.form-group label {
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 16px;
    color: #bdbcbc;
    pointer-events: none;
    transition: 0.5s ease all;
}

.form-group input:focus {
    outline: none;
    border-bottom: 1px solid rgb(255, 0, 0);
}

.form-group:focus-within label {
    top: -20px;
    font-size: 12px;
    color: rgb(255, 0, 0);
}

.contenedorDerForm {
    grid-area: der;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#archivoLabel {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: .5s;
    flex-direction: column;
    border:  1px solid black;
    border-radius: 8px;
    width: 100%;
}

#archivoLabel span {
    transition: .3s;
}

#archivoLabel:hover span {
    color: rgb(255, 0, 0);
}

.bi-file-plus {
    font-size: 180px;
}

#archivos {
    display: none;
}

.envio {
    grid-area: envio;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.envio button {
    border-radius: 8px;
    padding: 5px 20px;
    background-color: transparent;
    border: 1px solid black;
    outline: none;
    transition: .5s;
}

.envio button:hover {
    background-color: black;
    color: white;
}

.contenedorTotalFooter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(24, 24, 24);
    min-height: 200px;
}

.division {
    width: 30%;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.divisionUno {
    align-items: start;
}

.divisionDos {
    align-items: center;
}

.divisionTres {
    align-items: end;
}

.TituloFooter {
    padding: 10px 30px;
}

.TituloFooter h2 {
    font-size: 20px;
    color: white;
}

.parrafoFooter {
    height: 200px;
    padding: 30px 30px;
}

.parrafoFooter h3 {
    color: white;
    font-size: 17px;
}

.parrafoFooter ul li {
    color: white;
    font-size: 15px;
}

.parrafoFooter p {
    color: white;
    font-size: 16px;
}

.mapaSuc {
    width: 100%;
    height: 250px;
    padding: 20px 30px;
}

.mapaSuc iframe {
    width: 100%;
    height: 100%;
}